<div class="container">
  <div class="panel panel-danger">
    <div class="panel-heading">Login</div>
    <div class="panel-body">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> </span>

        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group marginTop">
        <span class="input-group-addon" id="basic-addon1"> <span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
        <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
      </div>
      <button type="button " class="btn btn-danger pull-right marginTop">Danger</button>
    </div>
  </div>
</div>